@use '@angular/material' as mat;


@font-face {
  font-family: 'DinaRemaster';
  src: url('https://static.micahnorwoodjordan.com/DinaRemaster.ttc') format('DinaRemaster');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'DinaRemaster', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;

  // build a grid background
  background-color: rgb(17, 17, 17);
  background-image:
    linear-gradient(to right, #6a6969 1px, transparent 1px),
    linear-gradient(to bottom, #6a6969 1px, transparent 1px);
  background-size: 100px 100px; /* grid cell size */

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$green-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'DinaRemaster',
    density: 0,
  ));

  @include mat.snack-bar-overrides((
    container-color: rgb(129, 84, 0)
  ));
}
