<div fxLayout="column" fxLayoutAlign="center center">
    <!-- input field -->
    <div>
        <mat-form-field class="input-field">
            <mat-label>enter zip code here</mat-label>
            <input matInput [formControl]="zipCodeInputFormControl">
            <mat-error *ngIf="zipCodeErrorMessage">
                {{ zipCodeErrorMessage }}
            </mat-error>
        </mat-form-field>
    </div>

    <!-- display card -->
    <div *ngIf="geoDataResponse$ | async as geoData">
        <mat-card class="display-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <h1>{{geoData.places[0]['place name']}}</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h2>{{geoData.places[0].state}}</h2>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div *ngIf="geoDataResponse$ === undefined">
        <p>{{defaultInfoString}}</p>
    </div>


    <!-- submit button -->
    <div class="pad-top-5">
    <button [disabled]="!readyToSubmit" mat-raised-button class="submit-button" (click)="onSubmit()">Submit</button>
    </div>
</div>
